* {
  font-family: Arial, sans-serif;
  margin-left: 7%;
  margin-right: 7%;
}

#recipe {
  text-align: justify;
}

.mainBody {
  width: 900px;
  margin: 0px auto;
}

.recipes {
  width: 400px;
  margin: 0px auto;
  font-size: 24px;
  text-align: center;
}

#recipeList {
  list-style: none;
}

#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#title {
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
}

p,
h3 {
  padding-left: 1%
}

.subIngredients {
  padding-left: 2%;
}

ul,
ol{
  padding-left: 0%
}
